<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ImgTC | Admin</title>
  <!-- Import CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.15.3/lib/theme-chalk/index.css">
  <style>
    body {
      background: linear-gradient(to right, #ff7e5f, #feb47b); /* 渐变色背景 */
      font-family: 'Arial', sans-serif;
      color: #333;
    }
    .el-image__inner.el-image__inner {
      width: 100%;
      height: 90px;
    }
    .el-image {
      text-align: center;
    }
    .el-button + .el-button {
      margin: 0;
    }
    .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 60px;
      font-size: xx-large;
      color: #fff;
    }
    .logout-button {
      position: absolute;
      right: 0px;
    }
    .main-container {
      display: flex;
      padding: 20px;
    }
    .side-menu {
      width: 20%;
      padding: 10px;
    }
    .content {
      width: 80%;
      padding: 10px;
    }
    .el-card {
      margin-bottom: 20px;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 8px;
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    }
    .el-button {
      margin-right: 10px;
    }
  </style>
</head>
<body>
  <div id="app">
    <el-container>
      <el-header>
        <div class="header-content">
          <span>Dashboard</span>
          <span class="logout-button" v-if="showLogoutButton">
            <el-tooltip content="退出登录" placement="bottom">
              <el-button type="text" icon="el-icon-logout" @click="handleLogout"></el-button>
            </el-tooltip>
          </span>
        </div>
      </el-header>
      <el-main class="main-container">
        <div class="side-menu">
          <el-card shadow="always">记录总数量: {{ Number }}</el-card>
        </div>
        <div class="content">
          <el-row :gutter="12">
            <el-col :span="24">
              <template>
                <el-table
                  :data="filteredTableData"
                  style="width: 100%">
                  <el-table-column
                    label="name"
                    prop="name">
                  </el-table-column>
                  <el-table-column
                    label="preview"
                    prop="preview"
                    align="center">
                    <template slot-scope="scope">
                      <video v-if="scope.row.name.indexOf('.mp4') > 0" style="width: 100%; height: 180px;" controls>
                        <source :src="'/file/' + scope.row.name" type="video/mp4">
                      </video>
                      <el-image
                        v-else
                        style="width: 100%; height: 100%;"
                        :src="'/file/' + scope.row.name"
                        :zoom-rate="1.2"
                        :preview-src-list="['/file/' + scope.row.name]"
                        fit="cover"
                        lazy
                      />
                    </template>
                  </el-table-column>
                  <el-table-column
                    label="data"
                    prop="data">
                    <template slot-scope="scope">
                      <el-popover trigger="hover" placement="top">
                        <p>{{ scope.row.metadata }}</p>
                        <div slot="reference" class="name-wrapper">
                          <el-tag size="medium">{{ scope.row.metadata }}</el-tag>
                        </div>
                      </el-popover>
                    </template>
                  </el-table-column>
                  <el-table-column align="right">
                    <template slot="header" slot-scope="scope">
                      <el-input
                        v-model="search"
                        size="mini"
                        placeholder="输入关键字搜索"/>
                    </template>
                    <template slot-scope="scope">
                      <el-button size="mini" type="primary" @click="handleCopy(scope.$index, scope.row.name)">复制地址</el-button>
                      <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row.name)">删除</el-button>
                    </template>
                  </el-table-column>
                </el-table>
              </template>
            </el-col>
          </el-row>
        </div>
      </el-main>
    </el-container>
  </div>
</body>
<!-- Import Vue before Element -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
<!-- Import JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/element-ui@2.15.3/lib/index.js"></script>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      Number: 0,
      showLogoutButton: false,
      tableData: [],
      search: ''
    },
    computed: {
      filteredTableData() {
        return this.tableData.filter(data => !this.search || data.name.toLowerCase().includes(this.search.toLowerCase()));
      }
    },
    methods: {
      handleDelete(index, key) {
        console.log(key);
        if (confirm("确认删除该条记录吗?")) {
          console.log("Yes")
          var requestOptions = {
            method: 'GET',
            redirect: 'follow',
            credentials: 'include'
          };

          fetch("./api/manage/delete/" + key, requestOptions)
            .then(response => response.text())
            .then(result => { console.log(result); this.tableData.splice(index, 1); })
            .catch(error => { alert("An error occurred while synchronizing data with the server, please check the network connection"); console.log('error', error); });

        } else {
          console.log("No")
        }
      },
      handleLogout() {
        // 重定向到图床上传地址
        window.location.href = 'https://imgtc-3i1.pages.dev/';
      },
      handleCopy(index, key) {
        const text = `${document.location.origin}/file/${key}`;
        if (navigator.clipboard) {
          navigator.clipboard.writeText(text);
        } else {
          const textarea = document.createElement('textarea');
          document.body.appendChild(textarea);
          textarea.style.position = 'fixed';
          textarea.style.clip = 'rect(0 0 0 0)';
          textarea.style.top = '10px';
          textarea.value = text;
          textarea.select();
          document.execCommand('copy', true);
          document.body.removeChild(textarea);
        }
        this.$message({
          message: '复制文件链接成功~',
          type: 'success'
        });
      }
    },
    mounted() {
      var requestOptions = {
        method: 'GET',
        redirect: 'follow',
        credentials: 'include'
      };
      fetch("./api/manage/check", requestOptions)
        .then(response => response.text())
        .then(result => {
          if (result === "true") {
            this.showLogoutButton = true;
          } else if (result === "Not using basic auth.") {
            // 处理其他情况
          } else {
            window.location.href = "./api/manage/login";
          }
        })
        .catch(error => {
          alert("An error occurred while synchronizing data with the server, please check the network connection");
          console.log('error', error);
        });

      fetch("./api/manage/list", requestOptions)
        .then(response => {
          if (response.status == 401) {
            alert("请先登录");
            window.location.href = "./api/manage/login";
          } else {
            return response;
          }
        })
        .then(response => response.text())
        .then(result => {
          this.tableData = JSON.parse(result);
          console.log(result);
          this.Number = this.tableData.length;
        })
        .catch(error => {
          alert("An error occurred while synchronizing data with the server, please check the network connection");
          console.log('error', error);
        });
    }
  });
</script>
</html>
